author = "Ayush Biswas"

editor = "zed"

[code]
filename = '''
{{#if (regex_is_match pattern="codeforces.com" on=url)}}
  {{#with (regex_captures
    pattern="(?:problemset/problem|contest)/(\\d+)(?:/problem)?/([A-Za-z0-9]+)"
    on=url) as |url_parts|}}
    {{#with (regex_captures
      pattern="^[A-Za-z0-9]+\\.\\s*(.+)$"
      on=../title) as |title_parts|}}
./src/bin/{{url_parts._1}}-{{to_lower_case url_parts._2}}-{{to_kebab_case title_parts._1}}.rs
    {{/with}}
  {{/with}}
{{/if}}
{{#if (regex_is_match pattern="atcoder.jp" on=url)}}
{{#with (regex_captures
  pattern="contests/([^/]+)/tasks/([^_]+)_([a-z]+)"
  on=url) as |url_parts|}}
  {{#with (regex_captures
    pattern="^[A-Za-z0-9]+\\s*\\-\\s*(.+)$"
    on=../title) as |title_parts|}}
./src/bin/{{url_parts._1}}-{{to_lower_case url_parts._3}}{{#if (to_kebab_case title_parts._1)}}-{{to_kebab_case title_parts._1}}{{/if}}.rs
  {{/with}}
{{/with}}
{{/if}}
'''
template = "./src/main.rs"
modifier = '''
{{!-- Triple braces to prevent html escaping --}}
{{!-- Base code block --}}
{{{code}}}

{{!-- Iterate over each library in lib_files --}}
{{#each lib_files}}
mod {{{@key}}} {
    {{{this}}}
}
{{/each}}
'''
lib_check_regex = "use.*{{name}}(::|;)"

[include]
lib = "./src/lib/"

[toggle]
create_file = true
run_on_save = true
submit_on_ac = true
